<div class="item form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="myteam">Название
  </label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= form.text_field :name, :id => "name", :class => "form-control col-md-5 col-xs-12", :required => "" %>
  </div>
</div>

<div class="item form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="myteam">Сезон
  </label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= form.text_field :season, :id => "season", :class => "form-control col-md-5 col-xs-12", :required => "" %>
  </div>
</div>

<div class="item form-group checkboxes">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="enemyteam">Места проведения
  </label>
  <div class="col-md-6 col-sm-6 col-xs-12" style="max-height:100px; overflow:auto;">
    <%= form.collection_check_boxes :location_id, Location.all, :id, :name do |b| %>
      <%= b.check_box :required => "" %>
      <%= b.label %>
      <br>
    <% end %>
  </div>
</div>

<div class="item form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="enemyteam">Федерация
  </label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= form.collection_select(:federation_id, Federation.all, :id, :name, {:prompt => "Выберите федерацию"}, {:class => "form-control", :id => "federation", :required => ""}) %>
  </div>
</div>