<%= form_with scope: :user, url: users_path, local: true do |f| %>
  <div>
    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email", :required => "" %>
  </div>
  <div>
    <%= f.text_field :name, :class => "form-control", :placeholder => "Имя игрока", :required => "" %>
  </div>
  <%= f.hidden_field :team_id, value: team.id %>
  <%= f.hidden_field :approved, value: true %>
  <div>
    <%= f.submit "Зарегистрировать", :class => "button7" %>
  </div>
  <div class="clearfix"></div>
<% end %>