<%= form_with scope: :user_role, url: user_roles_path, html: {"data-parsley-validate" => "", :class => "form-horizontal form-label-left col-md-12 col-sm-12 col-xs-12", :novalidate => ""}, local: true do |f| %>
  <div class="item form-group">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <%= f.collection_select(:user_id, candidate, :id, :name, {:prompt => "Выберите кандидата"}, {:class => "form-control", :required => ""}) %>
    </div>
  </div>
  <p>
    <%= f.hidden_field :role_id, value: 3 %>
  </p>
  <p>
    <%= f.hidden_field :team_id, value: team.id %>
  </p>
  <div class="col-md-6 col-sm-6 col-xs-12 ">
    <%= f.submit "Добавить", :class => "btn btn-success" %>
  </div>
<% end %>