<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2><i class="fa fa-shield"></i> Команды</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <ul id="team_content" class="border">
        <% if @teams.empty? %>
          <li>Команды отсутствуют</li>
        <% else %>
          <% @teams.each do |team| %>
            <li><%= link_to team.name, team_path(team), method: :get %>
              <div style="display: inline-block; position: absolute; right: 25px;">
                <%= admin_panteam(team)[0] unless admin_panteam(team).nil? %>
                <%= admin_panteam(team)[1] unless admin_panteam(team).nil? %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div class="pagination" style="text-align: center">
        <a id="prev" onclick="checkPageMinus()">❮</a>
        <a>
          <input id="page" type="hidden" value="0">
          <div id="counter" style="display: inline-block" value>1</div>
          / <%= @teams_page %>
        </a>
        <a id="next" onclick="checkPagePlus()">❯</a>
      </div>
    </div>
  </div>
</div>
<script>
    function checkPagePlus() {
        var counter = $('#page').val();
        if ((Number(counter) + 1) < <%= @teams_page %>) {
            $('#counter').html(+$('#counter').html() + 1);
            $('#page').val(+$('#page').val() + 1);
            $.ajax({
                url: "/teams",
                type: "GET",
                data: {offset: (Number(counter) + 1)}
            })
        }
    }

    function checkPageMinus() {
        var counter = $('#page').val();
        if ((Number(counter) + 1) != 1) {
            $('#counter').html(+$('#counter').html() - 1);
            $('#page').val(+$('#page').val() - 1);
            $.ajax({
                url: "/teams",
                type: "GET",
                data: {offset: (Number(counter) - 1)}
            })
        }
    }
</script>