<h1>EasySquad</h1>
<h2>Профиль команды: <%= @team.name %></h2>

<p> Владелец команды: <%= @owner.email %></p>
<p> Капитан команды: <% if @cap.nil? %>
    капитан не назначен
  <% else %>
    <%= @cap.name %>
  <% end %>
</p>

<p>Игроки команды</p>
<% @players.each do |player|%>
  <p><%= player.name%> <%= link_to 'показать', player_path(player) %>, <%= link_to 'убрать из команды', player_team_path(player,@team), method: :delete %></p>
<% end %>

<%= button_to 'Добавить игроков', new_player_team_path(@team), :method => :get %>

<p> Турниры, в которых участвует команда:</p>
<% if @tourns.empty? %>
  <p>Команда не участвует в турнирах</p>
<% else %>
  <table>
    <% @tourns.each do |tourn|%>
    <td><%= tourn.name%></td>
    <td><%= button_to 'подробнее', tournament_path(tourn), :method => :get%></td>
  </table>
    <% end %>
<% end %>


<%if @userrols.id==1%>
  <p> <%= button_to 'Добавить турниры', new_team_tournament_path(@team), :method => :get %></p>
<% end %>
<p> <%= button_to 'Редактировать команду', edit_team_path, :method => :get %></p>
<p> <%= button_to 'Удалить команду', admin_team_path, :method => :delete %></p>
<%= button_to "Назад", :welcome_index, :method => :get %>
