<h1>EasySquad</h1>
<h2>Профиль команды: <%= @team.name %></h2>

<p> Владелец команды: <%= @owner.email %></p>
<p> Капитан команды: <%= @cap.name %></p>

<p>Игроки команды</p>
<% @players.each do |player|%>
  <p><%= player.name%> <%#= link_to 'показать', team_path(game) %></p>
<% end %>

<p> <%= button_to 'Редактировать команду', edit_team_path, :method => :get %></p>
<p> <%= button_to 'Удалить команду', team_path, :method => :delete %></p>
<%= button_to "Назад", :welcome_index, :method => :get %>
