<div class="clearfix"></div>
<div class="">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>
          <a onclick="javascript:history.back(); return false;" data-toggle="tooltip" , data-placement="top" ,
             title="" , data-original-title="Назад"><i class="fa fa-arrow-left"></i></a>
          <%= @team.name %></h2>
        <% if (current_user == @owner) or ((@userrols.find_by role: 1).present?) or ((@userrols.find_by role: 3, team: @team).present?) %>
          <ul class="nav navbar-right panel_toolbox" style="padding-left: 50px;">
            <% if (@userrols.find_by role: 1).present? %>
              <li>
                <%= link_to edit_admin_team_path, :method => :get,
                            :class => "close-link",
                            "data-toggle" => "tooltip",
                            "data-placement" => "top",
                            :title => "",
                            "data-original-title" => "Редактировать команду" do %>
                  <i class="fa fa-gears"></i>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to edit_team_path, :method => :get,
                            :class => "close-link",
                            "data-toggle" => "tooltip",
                            "data-placement" => "top",
                            :title => "",
                            "data-original-title" => "Редактировать команду" do %>
                  <i class="fa fa-gears"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
          <div class="card">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist" style="display: flex">
              <li role="presentation" class="active">
                <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Описание</a>
              </li>
              <li role="presentation" class="">
                <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Игроки</a>
              </li>
              <li role="presentation" class="">
                <a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Турниры</a>
              </li>
            </ul>
          </div>
          <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
              <blockquote>
                <p> Владелец команды:
                  <%= owner_team(@owner) %>
                </p>
                <p> Капитан команды:
                  <%= cap_team(@cap) %>
                </p>
                <% if (current_user == @owner) or ((@userrols.find_by role: 1).present?) %>
                  <p>Адмнистраторы команды: </p>
                  <% if @teamadmins.empty? %>
                    <li> Дополнительные администраторы не назначены</li>
                  <% else %>
                    <% @teamadmins.each do |tmadm| %>
                      <li>
                        <%= Player.find(tmadm.user_id).name %>
                        <%= link_to user_role_path(tmadm), :method => :delete, :class => "close-link",
                                    "data-toggle" => "tooltip",
                                    "data-placement" => "top",
                                    :title => "",
                                    "data-original-title" => "Убрать из администраторов" do %>
                          <i class="fa fa-close"></i>
                        <% end %>
                      </li>
                    <% end %>
                  <% end %>
                  <br>
                  <p><strong><i>Добавить нового администратора?</i></strong></p>
                  <% if @candidates[0].nil? %>
                    <li>Кандидатов нет</li>
                  <% else %>
                    <%= render partial: "new_adm", locals: {candidate: @candidates, team: @team} %>
                  <% end %>
                <% end %>
              </blockquote>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
              <% if @team.players.empty? %>
                <h2>В этой команде нет игроков</h2>
              <% else %>
                <ul class="zebra">
                  <% @team.players.each do |play| %>
                    <li><h2><%= play.name %></h2>
                      <%= link_to "Подробнее", player_path(play), :method => :get, :class => "btn btn-secondary" %>
                      <%= plr_team_out(current_user, @owner, @userrols, @team, play) %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
              <% if (current_user == @owner) or ((@userrols.find_by role: 1).present?) or ((@userrols.find_by team_id: @team.id, user_id: current_user.id, role_id: 3).present?) %>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <div class="x_panel">
                      <div class="x_title">
                        <h2> Добавить игрока?</h2>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <!-- start accordion -->
                        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="panel">
                            <a class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                              <h4 class="panel-title">Зарегистрировать нового игрока</h4>
                            </a>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                              <div class="panel-body">
                                <div id="login" class="animate">
                                  <section class="login_content">
                                    <%= render partial: "new_plr_reg", locals: {team: @team} %>
                                  </section>
                                  <!-- content -->
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel">
                            <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <h4 class="panel-title">Добавить из зарегистрированных</h4>
                            </a>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                              <div class="panel-body">
                                <%= render partial: "new_plr_all", locals: {team: @team} %>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end of accordion -->
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
              <% if @team.tournaments.empty? %>
                <h2>Эта команда не участвует в турнирах </h2>
              <% else %>
                <ul class="zebra">
                  <% @team.tournaments.each do |tourn| %>
                    <li>
                      <h2><%= tourn.name %>
                        <small>(<%= tourn.season %>)</small>
                      </h2>
                      <%= link_to "Подробнее", tournament_path(tourn), :method => :get, :class => "btn btn-secondary" %>
                      <%= tourn_team_out(current_user, @owner, @userrols, @team, tourn) %>
                      <%= tourn_team_newapp(current_user, @owner, @userrols, @team, tourn) %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
              <%= new_tourn_team(current_user, @owner, @userrols, @team) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>