
        <div class="page-title">
          <div class="clearfix"></div>

          <div class="">
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2><i class="fa fa-users"></i> <%= @team.name %></h2>

                  <ul class="nav navbar-right panel_toolbox" style="padding-left: 25px;">
                    <li>

                      <%= link_to edit_team_path, :method => :get,
                                  :class=>"close-link",
                                  "data-toggle"=>"tooltip",
                                  "data-placement"=>"top",
                                  :title=>"",
                                  "data-original-title"=>"Редактировать команду" do %>
                        <i class="fa fa-wrench"></i>
                      <%end %>

                    </li>
                    <li>
                      <%= link_to team_path, :method => :delete, :class=>"close-link",
                                  "data-toggle"=>"tooltip",
                                  "data-placement"=>"top",
                                  :title=>"",
                                  "data-original-title"=>"Удалить команду" do %>
                        <i class="fa fa-close"></i>
                      <%end %>
                    </li>
                  </ul>

                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Описание</a>
                      </li>
                      <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Игроки</a>
                      </li>
                      <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Турниры</a>
                      </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                        <p> Владелец команды: <%= @owner.email %></p>
                        <p> Капитан команды: <% if @cap.nil? %>
                            капитан не назначен
                          <% else %>
                            <%= @cap.name %>
                          <% end %>
                        </p>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                        <% if @team.players.empty? %>
                          <h2>В этой команде нет игроков</h2>
                        <% else%>
                          <% @team.players.each do |play|%>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="x_panel">
                                <div class="x_title">
                                  <h2><%=play.name %> <small><%= @team.name %></small></h2>
                                  <div class="clearfix"></div>
                                </div>

                                <div class="x_content">
                                  <div class="bs-example" data-example-id="simple-jumbotron">
                                    <div class="jumbotron">

                                    </div>
                                  </div>
                                </div>

                                <%= link_to "Подробнее", player_path(play), :method => :get, :class => "btn btn-secondary" %>
                                <%= link_to 'Убрать из команды', player_team_path(play,@team), method: :delete, :class => "btn btn-secondary" %>
                              </div>
                            </div>
                          <% end %>
                        <% end %>
                      </div>

                      <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">

                        <% if @team.tournaments.empty? %>
                        <h2>Эта команда не участвует в турнирах </h2>
                        <% else%>
                        <% @team.tournaments.each do |tourn|%>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="x_panel">
                              <div class="x_title">
                                <h2><%=tourn.name %> <small></small></h2>
                                <div class="clearfix"></div>
                              </div>

                              <div class="x_content">
                                <div class="bs-example" data-example-id="simple-jumbotron">
                                  <div class="jumbotron">
                                    <p> Сезон турнира: <%= tourn.season %></p>
                                  </div>
                                </div>
                              </div>

                              <%= link_to "Подробнее", tournament_path(tourn), :method => :get, :class => "btn btn-secondary" %>

                            </div>
                          </div>
                        <% end %>
                        <% end %>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>







<!--<h1>EasySquad</h1>-->
<!--<h2>Профиль команды: <%#= @team.name %></h2>-->

<!--<p> Владелец команды: <%#= @owner.email %></p>-->
<!--<p> Капитан команды: <%# if @cap.nil? %>-->
<!--    капитан не назначен-->
  <%# else %>
    <%#= @cap.name %>
  <%# end %>
<!--</p>-->

<!--<p>Игроки команды</p>-->
<%# if @team.players.empty? %>
<!--  <p>В этой команде нет игроков</p>-->
<%#else %>
  <%# @team.players.each do |player|%>
<!--    <p><%#= player.name%> <%#= link_to 'показать', player_path(player) %>, <%#= link_to 'убрать из команды', player_team_path(player,@team), method: :delete %></p>-->
  <%# end %>
<%#end %>


<%#= button_to 'Добавить игроков', new_player_team_path(@team), :method => :get %>

<!--<p> Турниры, в которых участвует команда:</p>-->
<%# if @team.tournaments.empty? %>
<!--  <p>Команда не участвует в турнирах</p>-->
<%# else %>
<!--  <table>-->
    <%# @tourns.each do |tourn|%>
<!--    <td><%#= tourn.name%></td>-->
<!--    <td><%#= button_to 'подробнее', tournament_path(tourn), :method => :get%></td>-->
<!--  </table>-->
    <%# end %>
<%# end %>


<%#if @userrols.first.id==1%>
<!--  <p> <%#= button_to 'Добавить турниры', new_team_tournament_path(@team), :method => :get %></p>-->
<%# end %>
<!--<p> <%#= button_to 'Редактировать команду', edit_team_path, :method => :get %></p>-->
<!--<p> <%#= button_to 'Удалить команду', admin_team_path, :method => :delete %></p>-->
<%#= button_to "Назад", :welcome_index, :method => :get %>
