<div class="">
  <div id="login" class="animate">
    <section class="login_content">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <h1>Edit <%= resource_name.to_s.humanize %></h1>

        <div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control",  :required => ""  %>
        </div>

        <div>
          <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control", :placeholder =>"Введите старый пароль",  :required => "" %>
        </div>

        <div >
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> знаков минимум</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", :class => "form-control", :placeholder =>"Пароль (оставьте пустым, если не хотите менять)",  :required => "" %>
        </div>

        <div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control", :placeholder =>"Повторите пароль",  :required => "" %>
        </div>


        <div>
          <%= f.submit "Изменить", :class => "button7" %>
          <a class="reset_pass" href="/welcome/index">Отмена</a>
        </div>

        <div class="clearfix"></div>
        <div class="separator">

          <p class="change_link">Вам не нравится у нас?
            <a href="sign_in" class="to_register"> Удалите аккаунт </a>
          </p>
          <div class="clearfix"></div>
          <br />
          <div>
            <h1><i class="fa fa-paw" style="font-size: 26px;"></i> EasySquad</h1>
            <p>©2019 Никаких прав нет. EasySquad. Собери свою команду!</p>
          </div>
      <% end %>
      <!-- form -->
    </section>
    <!-- content -->
  </div>

</div>
</div>














<!--<h2>Edit <%#= resource_name.to_s.humanize %></h2>-->

<%#= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>


  <%# if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<!--    <div>Currently waiting confirmation for: <%#= resource.unconfirmed_email %></div>-->
  <%# end %>



<!--  <div class="field">-->
<!--    <%#= f.label :password_confirmation %><br />-->
    <%#= f.password_field :password_confirmation, autocomplete: "new-password" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />-->
    <%#= f.password_field :current_password, autocomplete: "current-password" %>
<!--  </div>-->

<!--  <div class="actions">-->
    <%#= f.submit "Update" %>
<!--  </div>-->
<%# end %>

<!--<h3>Cancel my account</h3>-->

<!--<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->

<%#= button_to "Назад", :back, :method => :get %>
