<style>
  body {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    text-align: center;
  }
</style>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, :class => "form-signin"}) do |f| %>

  <%= image_tag "soccerball_sport_futbo_6911.png", :class => "style_image", :alt => "", :width => "79", :height => "79" %>
  <h1 class="h3 mb-3 font-weight-normal">Редактирование профиля <%#= resource_name.to_s.humanize %></h1>
  <div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :required => "" %>
  </div>

  <div>
    <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control", :placeholder => "Введите старый пароль", :required => "" %>
  </div>

  <div>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> знаков минимум</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", :class => "form-control", :placeholder => "Пароль (оставьте пустым, если не хотите менять)", :required => "" %>
  </div>

  <div>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control", :placeholder => "Повторите пароль", :required => "" %>
  </div>

  <div>
    <%= f.submit "Изменить", :class => "btn btn-primary" %>
    <a onclick="javascript:history.back(); return false;" class="reset_pass"> Отмена
    <%#= link_to "Отмена", :back, :class => "reset_pass" %>
  </div>

  <div class="clearfix"></div>
  <div class="separator">

    <!--    <p>Вам не нравится у-->
    <!--      нас? <%#= link_to "Удалить аккаунт", registration_path(resource_name), data: {confirm: "Вы уверены?"}, method: :delete, :id => "delete_acc" %></p>-->
    <p>Вам не нравится у
      нас? <%= link_to "Удалить аккаунт", registration_path(resource_name), method: :delete, :id => "delete_acc" %></p>
    <div class="clearfix"></div>
    <br/>

    <h1 class="text-muted">
      <i class="fa fa-soccer-ball-o"></i> <span>EasySquad</span>
    </h1>
    <p class="mt-5 mb-3 text-muted">
      ©2019 Никаких прав нет. EasySquad. Собери свою команду!</p>
  </div>
<% end %>
<script>
    $('#delete_acc').on('click', function () {
        $.ajax({
            url: "/players/destroy_together_user",
            type: "DELETE"
        })
    });
</script>