<h2>Измненение отметки о присутствии на игре</h2>

<%= form_with(model: @chekin, local: true) do |form| %>
  <p>
    <%= form.label :Игрок %><br>
    <%= @player.name %>
  </p>
  <p>
    <%= form.label :Команда %><br>
    <%= @team.name %>
  </p>
  <p>
    <%= form.label :Игра %><br>
    <%= @game.name %>
  </p>
  <p>
    <%= form.label :Вы_будете_на_игре? %><br>
    <%= form.radio_button :chekin, "1", checked: true, onClick: "check(2)" %> <%= form.label(:chekin_true, "Да") %>
    <%= form.radio_button :chekin, "0", onClick: "check(1)" %> <%= form.label(:chekin_false, "Нет") %>
  </p>
  <div id="visblock" style="display: none">
    <legend>Почему Вас не будет?</legend>
    <p>
      <%= form.label :Причина_отсутствия %> (при выборе "Другое" опишите причину в комментарие)<br>
      <%= form.collection_select(:reason_id, Reason.all, :id, :reason, {:prompt => "Выберите причину"}) %>
    </p>
    <p>
      <%= form.label :Комментарий %><br>
      <%= form.text_area :comment %>
    </p>
  </div>
  <p>
    <%= form.submit("Изменить") %>
  </p>
<% end %>

<p><%= button_to "Назад", root_path, :method => :get %>

  <script>
      function check(i) {
          if (i == 1) {
              document.getElementById('visblock').style.display = 'block';
          } else if (i == 2) {
              document.getElementById('visblock').style.display = 'none';
          }
      }
  </script>