<h1>EasySquad</h1>
<h2>Собери свою команду!</h2>

<h2>Отметка о присутствии на игре</h2>

<%= form_with scope: :chekin, url: chekins_path, local: true do |form| %>

  <p>
    <%= form.label :Игрок %><br>
    <%= @player.name %>
    <%= form.hidden_field :player, value: current_user.id%>
  </p>

  <p>
    <%= form.label :Команда %><br>
    <%= form.collection_select(:team, Team.all, :id, :name) %>
  </p>

  <p>
    <%= form.label :Игра %><br>
    <%= @game.name %>
    <%= form.hidden_field :game, value: params[:format]%>
  </p>

  <p>
    <%= form.label :Вы_будете_на_игре? %><br>
    <%= form.radio_button :chekin, "1",checked: true, onClick: "check(2)"%> <%= form.label(:chekin_true, "Да") %>
    <%= form.radio_button :chekin, "0", onClick: "check(1)"%> <%= form.label(:chekin_false, "Нет") %>
  </p>


  <fieldset id="visblock" style="display: none" disabled><legend>Почему Вас не будет?</legend>
    <p>
      <%= form.label :Причина_отсутствия, "Выберите причину (при выборе Other опишите причину в комментарии)" %><br>
      <%= form.collection_select(:reasons, Reason.all, :id, :reason) %>
    </p>

    <p>
      <%= form.label :Комментарий %><br>
      <%= form.text_area :comment %>
    </p>
  </fieldset>


  <p>
    <%= form.submit("Отметиться") %>
  </p>

<% end %>

<%= button_to "Назад", :back, :method => :get %>

<script>
    function check(i)
    {
        if (i==1) {
            document.getElementById('visblock').style.display='block';
            document.getElementById('visblock').disabled=false;
        }
        else if (i==2) {
            document.getElementById('visblock').style.display='none';
            document.getElementById('visblock').disabled=true;

        }

    }
</script>