<h1>EasySquad</h1>
<h2>Собери свою команду!</h2>

<h2>Отметка о присутствии на игре</h2>

<% if @lastchekin.nil? %>
  <%= form_with scope: :chekin, url: chekins_path, local: true do |form| %>


    <% if @chekin.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@chekin.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @chekin.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>



    <p>
      <%= form.label :Игрок %><br>
      <%#= @player.name %>
      <%= form.hidden_field :player_id, value: current_user.id%>
    </p>

    <p>
      <%= form.label :Команда %><br>
      <%= form.collection_select(:team_id, Team.all, :id, :name) %>
    </p>

    <p>
      <%= form.label :Игра %><br>
      <%#= @game.name %>
      <%= form.hidden_field :game_id, value: params[:format]%>
    </p>

    <p>
      <%= form.label :Вы_будете_на_игре? %><br>
      <%= form.radio_button :chekin, "1",checked: true, onClick: "check(2)"%> <%= form.label(:chekin_true, "Да") %>
      <%= form.radio_button :chekin, "0", onClick: "check(1)"%> <%= form.label(:chekin_false, "Нет") %>
    </p>


    <div id="visblock" style="display: none"><legend>Почему Вас не будет?</legend>
      <p>
        <%= form.label :Причина_отсутствия%> (при выборе "Другое" опишите причину в комментарие)<br>
        <%= form.collection_select(:reason_id, Reason.all, :id, :reason,{ :prompt => "Выберите причину"}) %>
      </p>

      <p>
        <%= form.label :Комментарий %><br>
        <%= form.text_area :comment %>
      </p>
    </div>



    <p>
      <%= form.submit("Отметиться") %>
    </p>

  <% end %>
<% else %>

  <h3>Вы уже отметились на эту игру!</h3>
  <%= button_to "Смотреть отметку", chekin_path(@lastchekin), :method => :get %>

<% end %>


<%#= form_with scope: :chekin, url: chekins_path, local: true do |form| %>

<!--  <p>-->
<!--    <%#= form.label :Игрок %><br>-->
    <%#= @player.name %>
    <%#= form.hidden_field :player, value: current_user.id%>
<!--  </p>-->

<!--  <p>-->
<!--    <%#= form.label :Команда %><br>-->
    <%#= form.collection_select(:team, Team.all, :id, :name) %>
<!--  </p>-->

<!--  <p>-->
<!--    <%#= form.label :Игра %><br>-->
    <%#= @game.name %>
    <%#= form.hidden_field :game, value: params[:format]%>
<!--  </p>-->

<!--  <p>-->
<!--    <%#= form.label :Вы_будете_на_игре? %><br>-->
    <%#= form.radio_button :chekin, "1",checked: true, onClick: "check(2)"%> <%#= form.label(:chekin_true, "Да") %>
    <%#= form.radio_button :chekin, "0", onClick: "check(1)"%> <%#= form.label(:chekin_false, "Нет") %>
<!--  </p>-->


<!--  <div id="visblock" style="display: none"><legend>Почему Вас не будет?</legend>-->
<!--    <p>-->
<!--      <%#= form.label :Причина_отсутствия%> (при выборе "Другое" опишите причину в комментарие)<br>-->
      <%#= form.collection_select(:reasons, Reason.all, :id, :reason,{ :prompt => "Выберите причину"}) %>
<!--    </p>-->

<!--    <p>-->
<!--      <%#= form.label :Комментарий %><br>-->
      <%#= form.text_area :comment %>
<!--    </p>-->
<!--  </div>-->



<!--  <p>-->
    <%#= form.submit("Отметиться") %>
<!--  </p>-->

<%# end %>

<p><%= button_to "Назад", :back, :method => :get %>

<script>
    function check(i)
    {
        if (i==1) {
            document.getElementById('visblock').style.display='block';
        }
        else if (i==2) {
            document.getElementById('visblock').style.display='none';
        }

    }
</script>