<h1>EasySquad</h1>
<h2>Отметка о присутсвии на игре <%#= @chekin.id %></h2>
<p> Игрок команды "<%= @team.name%>", <%= @player.name %></p>

<% if @chekin.chekin==true %>
  <p> будет присутствовать на игре: <%= @game.name %> </p>
<% else %>
  <p> не будет присутствоват на игре: <%= @game.name %> по причине: <%= @reason.reason %> <%= @chekin.comment %> </p>
<% end %>

<p> <%= button_to 'Изменить отметку', edit_chekin_path, :method => :get %></p>
<p> <%= button_to 'Удалить отметку', chekin_path, :method => :delete %></p>
<%= button_to "Назад", :welcome_index, :method => :get %>