<h1>EasySquad</h1>
<h2>Собери свою команду!</h2>

<h2>Заполните заявку</h2>

<%= form_with scope: :application, url: applications_path, local: true do |form| %>

  <p>
    <%= form.label :Игрок %><br>
    <%= @player.name %>
    <%#= form.collection_select(:player, Player.all, :id, :name) %>
    <%= form.hidden_field :player, value: params[:format]%>
  </p>

  <p>
    <%= form.label :Команда %><br>
    <%= form.collection_select(:team, Team.all, :id, :name) %>
  </p>

  <p>
    <%= form.label :Турнир %><br>
    <%= form.collection_select(:tournament, Tournament.all, :id, :name) %>
  </p>


  <p>
    <%= form.submit("Создать") %>
  </p>


<% end %>

<%= button_to "Назад", :back, :method => :get %>