<h1>EasySquad</h1>
<h2>Заявка № <%= @application.id %></h2>

<p> Игрок: <%= @player.name %></p>
<p> заявлен за команду: <%= @team.name %></p>
<p> на турнир: <%= @tourn.name %></p>



<p> <%= button_to 'Удалить заявку', application_path, :method => :delete %></p>
<%= button_to "Назад", :welcome_index, :method => :get %>