<h1>EasySquad</h1>
<h2>Добавление турниров для команды: <%= @team.name %></h2>

<%= form_with scope: :team_tournament, url: team_tournaments_path, local: true do |f| %>

  <p>
    <%= f.hidden_field :team, value: params[:format]%>
  </p>

  <p>
    <%= f.label :Турниры %><br>
    <%= f.collection_select(:tournament, Tournament.all, :id, :name) %>
  </p>

<!--  <p>-->
<!--    <%#= f.label :Турниры %><br>-->
    <%#= f.collection_check_boxes(:tournaments, Tournament.all, :id, :name) %>
<!--  </p>-->


  <p>
    <%= f.submit("Добавить") %>
  </p>


<% end %>