<h1>EasySquad</h1>
<h2>Редактирование профиля турнира: <%= @tournament.name %></h2>

<%= form_with(model: @tournament, local: true) do |form| %>

  <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@tournament.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @tournament.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :Название %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :Сезон %><br>
    <%= form.text_field :season %>
  </p>

  <p>
    <%= form.label :Место_проведения %><br>
    <%= form.collection_select(:location, Location.all, :id, :name) %>
  </p>

  <p>
    <%= form.label :Федерация %><br>
    <%= form.collection_select(:federation, Federation.all, :id, :name) %>
  </p>

  <p>
    <%= form.submit("Обновить") %>
  </p>

<% end %>

<%= button_to "Назад", :back, :method => :get %>