<h1>EasySquad</h1>
<h2>Собери свою команду!</h2>

<h2> Заполните информацию о турнире</h2>

<%= form_with scope: :tournament, url: tournaments_path, local: true do |form| %>

  <p>
    <%= form.label :Название %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :Сезон %><br>
    <%= form.text_field :season %>
  </p>

  <p>
    <%= form.label :Место_проведения %><br>
    <%= form.collection_select(:location, Location.all, :id, :name) %>
  </p>

  <p>
    <%= form.label :Федерация %><br>
    <%= form.collection_select(:federation, Federation.all, :id, :name) %>
  </p>

  <p>
    <%= form.submit("Создать") %>
  </p>


<% end %>

<%= button_to "Назад", :back, :method => :get %>