<div class="page-title">
  <div class="clearfix"></div>
  <div class="">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2><i class="fa fa-trophy"></i> <%= @tournament.name %></h2>

          <ul class="nav navbar-right panel_toolbox" style="padding-left: 25px;">
            <li>

              <%= link_to edit_admin_tournament_path, :method => :get,
                          :class=>"close-link",
                          "data-toggle"=>"tooltip",
                          "data-placement"=>"top",
                          :title=>"",
                          "data-original-title"=>"Редактировать турнир" do %>
                <i class="fa fa-wrench"></i>
              <%end %>

            </li>
            <li>
              <%= link_to admin_tournament_path, :method => :delete, :class=>"close-link",
                          "data-toggle"=>"tooltip",
                          "data-placement"=>"top",
                          :title=>"",
                          "data-original-title"=>"Удалить турнир" do %>
                <i class="fa fa-close"></i>
              <%end %>
            </li>
          </ul>

          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
              <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Описание</a>
              </li>
              <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Команды-участницы</a>
              </li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                <li> Сезон турнира: <%= @tournament.season %></li>
                <li> Места проведения:
                  <ul>
                    <% @tournament.locations.each do |lct| %>
                      <li><%= lct.name %></li>
                    <% end %>
                  </ul>
                </li>
                <li> Федерация, проводящая турнир: <%= @tournament.federation.name %></li>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                <% if @tournament.teams.empty? %>
                  <h2>В этом турнире не участвует ни одна команда </h2>
                <% else%>
                  <% @tournament.teams.each do |team|%>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="x_panel">
                        <div class="x_title">
                          <h2><%=team.name %> <small><%= @tournament.name %></small></h2>
                          <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                          <div class="bs-example" data-example-id="simple-jumbotron">
                            <div class="jumbotron">
                              <!--                                      <p> Сезон турнира: <%#= tourn.season %></p>-->
                            </div>
                          </div>
                        </div>
                        <%= link_to "Подробнее", team_path(team), :method => :get, :class => "btn btn-secondary" %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




