<h1>EasySquad</h1>
<h2>Добавление прав пользователя: <%= @user.email %></h2>

<%= form_with scope: :user_role, url: user_roles_path, local: true do |f| %>

  <p>
    <%= f.hidden_field :user1, value: params[:format]%>
  </p>

  <p>
    <%= f.label :Роль %><br>
    <%= f.collection_select(:role1, Role.all, :id, :role) %>
  </p>

  <p>
    <%= f.label :Команда %><br>
    <%= f.collection_select(:team, Team.all, :id, :name, { :prompt => "Выберите, если необходимо"}) %>
  </p>

  <!--  <p>-->
  <!--    <%#= f.label :Турниры %><br>-->
  <%#= f.collection_check_boxes(:tournaments, Tournament.all, :id, :name) %>
  <!--  </p>-->


  <p>
    <%= f.submit("Добавить") %>
  </p>


<% end %>