<h1>EasySquad</h1>
<!--<h2>Добавление прав пользователя: <%#= @user.email %></h2>-->

<%= form_with scope: :user_role, url: user_roles_path, local: true do |f| %>

  <% if @userrole.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@userrole.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @userrole.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.hidden_field :user_id, value: params[:format]%>
  </p>

  <p>
    <%= f.label :Роль %><br>
    <%= f.collection_select(:role_id, Role.all, :id, :role) %>
  </p>

  <p>
    <%= f.label :Команда %><br>
    <%= f.collection_select(:team_id, Team.all, :id, :name, { :prompt => "Выберите, если необходимо"}) %>
  </p>


  <p>
    <%= f.submit("Добавить") %>
  </p>


<% end %>
<%= button_to "Назад", :welcome_index, :method => :get %>
