<%= form_with scope: :chekin, url: chekins_path, html: {:style => " margin-bottom: 10px;", :novalidate => ""}, local: true do |form| %>
  <%= form.hidden_field :player_id, value: current_user.id %>
  <% varplayers = Roster.where(tournament: nxtgm.tournament.id, team: teamprsns[index]).pluck(:player_id) %>
  <% varsearch = Chekin.where(game: nxtgm, team: teamprsns[index]).pluck(:player_id) %>
  <% varsearch = teamprsns[index].players.where(id: varplayers).where.not(id: varsearch) %>
  <% if varsearch[0].nil? %>
    <p>Некого отметить!</p>
  <% else %>

    <fieldset class="myfieldset">
      <legend>Игроки</legend>

      <div class="item form-group checkboxes">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <%= form.collection_check_boxes :player_id, varsearch, :id, :name do |b| %>
            <div class="col-md-5 col-sm-5 col-xs-12">
              <%= b.check_box :required => "" %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
      </div>

      <%= form.hidden_field :team_id, value: teamprsns[index].id %>
      <%= form.hidden_field :game_id, value: nxtgm.id %>
      <%= form.hidden_field :chekin, value: true %>
      <%= form.hidden_field :admin, value: true %>
      <br>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <%= form.submit "Отметить", :onclick => "checkDuplicate()" %>
      </div>
    </fieldset>

  <% end %>
<% end %>

<script>
    function checkDuplicate() {
        setTimeout(function () {
            var seen = {};
            $('div.checkboxes > div').each(function () {
                var txt = $(this).text();
                if (seen[txt])
                    $(this).remove();
                else
                    seen[txt] = true;
            });
        }, 30)
    }
</script>