
        <%if @userrols.first.id!=1%>

          <%# if @nextgame.empty? %>
          <% if @nextgames.to_s=="[nil]" %>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2><i class="fa fa-bars"></i> Ближайшая игра <small>Float left</small></h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <h3>В ближайшее время игр нет</h3>
                </div>
              </div>
            </div>
          <%else %>

            <% @nextgames.each_with_index do |nxt, index|%>

              <% nxt.each do |nxtgm|%>

                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2><i class="fa fa-bars"></i> Ближайшая игра <small><%=@teampl[index].name%></small></h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                      <div class="col-xs-3">
                        <!-- required for floating -->
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs-left">
                          <li class="active"><a href="#home<%=nxtgm.id%>" data-toggle="tab" aria-expanded="true">Игра</a>
                          </li>
                          <li class=""><a href="#profile<%=nxtgm.id%>" data-toggle="tab" aria-expanded="false">Место</a>
                          </li>
                          <li class=""><a href="#messages<%=nxtgm.id%>" data-toggle="tab" aria-expanded="false">Отметиться</a>
                          </li>
                          <li class=""><a href="#allcheck<%=nxtgm.id%>" data-toggle="tab" aria-expanded="false">Кто будет</a>
                          </li>
                        </ul>
                      </div>

                      <div class="col-xs-9">
                        <!-- Tab panes -->
                        <div class="tab-content">
                          <div class="tab-pane active" id="home<%=nxtgm.id%>">
                            <p class="lead"><%=nxtgm.name%></p>
                            <% if nxtgm.game_score.nil? %>
                              <p>Игра еще не сыграна</p>
                            <%else %>
                              <p>Счет игры:<%=nxtgm.game_score%></p>
                            <%end %>
                          </div>
                          <div class="tab-pane" id="profile<%=nxtgm.id%>">
                            <p><%=nxtgm.tournament.location.name%></p>
                            <p><%=nxtgm.tournament.location.address%></p>
                          </div>
                          <div class="tab-pane" id="messages<%=nxtgm.id%>">

                            <% if (Chekin.find_by player:@player, game: nxtgm).nil? %>
                              <%= form_with scope: :chekin, url: chekins_path, local: true  do |form| %>
                                <%= form.hidden_field :player_id, value: current_user.id%>
                                <p>Ваша команда: <%= @teampl[index].name%></p>
                                <%= form.hidden_field :team_id, value: @teampl[index].id%>
                                <%= form.hidden_field :game_id, value: nxtgm.id%>
                                <p>
                                  <%= form.label :Вы_будете_на_игре? %><br>
                                  <%= form.radio_button :chekin, "1",checked: true, onClick: "check(2)"%> <%= form.label(:chekin_true, "Да") %>
                                  <%= form.radio_button :chekin, "0", onClick: "check(1)"%> <%= form.label(:chekin_false, "Нет") %>
                                </p>

                                <div id="visblock" style="display: none"><legend>Почему Вас не будет?</legend>
                                  <p>
                                    <%= form.label :Причина_отсутствия%> (при выборе "Другое" опишите причину в комментарие)<br>
                                    <%= form.collection_select(:reason_id, Reason.all, :id, :reason,{ :prompt => "Выберите причину"}) %>
                                  </p>

                                  <p>
                                    <%= form.label :Комментарий %><br>
                                    <%= form.text_area :comment %>
                                  </p>
                                </div>
                                <p>
                                  <%= form.submit("Отметиться") %>
                                </p>
                              <% end %>
                            <% else %>

                              <h3>Вы уже отметились на эту игру!</h3>
                              <% if (Chekin.find_by player:@player, game: nxtgm).chekin==true %>
                                <p>
                                  Вы будете на игре
                                </p>
                              <% else %>
                                <p>
                                  Вы не будете на игре по причине "<%= (Chekin.find_by player:@player, game: nxtgm).reason.reason %>"
                                </p>
                              <% end %>

                              <% if nxtgm.game_score.nil? %>
                                <%= link_to "Изменить", edit_chekin_path((Chekin.find_by player:@player, game: nxtgm)), :method => :get, :class=>"btn btn-default" %>
                                <%#= link_to "Удалить", chekin_path(@lastchekin[index]), :method => :delete, :class=>"btn btn-danger" %>
                              <% end %>

                            <% end %>

                          </div>

                          <div class="tab-pane" id="allcheck<%=nxtgm.id%>">

                            <%nxtgm.chekins.where(chekin: true).each do |checks| %>

                              <p>
                                <%=checks.player.name %>
                              </p>

                            <% end %>

                          </div>
                        </div>
                      </div>

                      <div class="clearfix"></div>

                    </div>
                  </div>
                </div>


              <% end %>

            <% end %>

          <%end %>

        <%end %>


<script>
    function check(i)
    {
        if (i==1) {
            document.getElementById('visblock').style.display='block';
        }
        else if (i==2) {
            document.getElementById('visblock').style.display='none';
        }
    }
</script>