<% if ((@userrols.find_by role: 1).present?) %>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><i class="fa fa-cog"></i> Панель администратора</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Новые объекты</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <ul>
                <li><h2><%= link_to "Добавить федерацию", new_admin_federation_path, method: :get %></h2></li>
                <li><h2><%= link_to "Добавить место проведния", new_admin_location_path, method: :get %></h2></li>
                <li><h2><%= link_to "Добавить турнир", new_admin_tournament_path, method: :get %></h2></li>
                <li><h2><%= link_to "Добавить команду", new_admin_team_path, method: :get %></h2></li>
                <li><h2><%= link_to "Добавить пользователя", new_admin_user_path, method: :get %></h2></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2> История </h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <ul>
                <%= render partial: "history", locals: {history: @history} %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><i class="fa fa-futbol-o"></i> Игры</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
          <div class="card">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist" style="display: flex">
              <% if ((@userrols.find_by role: 4).present?) %>
                <li role="presentation" class="active">
                  <a href="#tab_content1" role="tab" id="home-tab" data-toggle="tab" aria-expanded="true">Игрок</a>
                </li>
              <% end %>
              <% if ((@userrols.find_by role: 3).present?) %>
                <li role="presentation" class="">
                  <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="true">Администратор
                    команды</a>
                </li>
              <% end %>
              <% if ((@userrols.find_by role: 2).present?) %>
                <% if ((@userrols.find_by role: 2).present?) and ((@userrols.find_by role: 4) == nil) %>
                  <li role="presentation" class="active">
                    <a href="#tab_content3" role="tab" id="home-tab" data-toggle="tab" aria-expanded="true">Владелец</a>
                  </li>
                <% else %>
                  <li role="presentation" class="">
                    <a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="true">Владелец</a>
                  </li>
                <% end %>
              <% end %>
              <% if can? :edit, Team %>
                <li role="presentation" class="">
                  <a href="#tab_content4" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="true">История</a>
                </li>
              <% end %>
            </ul>
          </div>
          <div id="myTabContent" class="tab-content">
            <% if ((@userrols.find_by role: 4).present?) %>
              <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                  <div class="panel">
                    <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      <h4 class="panel-title">Ближайшие игры</h4>
                    </a>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        <% if (@nextgames[0].ids.empty?) %>
                          <h3>В ближайшее время игр нет</h3>
                        <% else %>
                          <% @nextgames.each_with_index do |nxt, index| %>
                            <% nxt.each do |nxtgm| %>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="x_panel">
                                  <div class="x_title">
                                    <h2><i class="fa fa-bars"></i> <%= @teampl[index].name %>
                                      <small>ближайшая</small>
                                    </h2>
                                    <div class="clearfix"></div>
                                  </div>
                                  <div class="x_content">

                                    <div class="col-xs-3">
                                      <!-- required for floating -->
                                      <!-- Nav tabs -->
                                      <ul class="nav nav-tabs tabs-left">
                                        <% idgen = rand(5..100) %>
                                        <li class="active">
                                          <a href="#home<%= nxtgm.id * 4 + (idgen + 1 + index.to_i * 4) %>" data-toggle="tab" aria-expanded="true">Игра</a>
                                        </li>
                                        <li class="">
                                          <a href="#profile<%= nxtgm.id * 4 + (idgen + 1 + index.to_i * 4) %>" data-toggle="tab" aria-expanded="false">Место</a>
                                        </li>
                                        <li class="">
                                          <a href="#messages<%= nxtgm.id * 4 + (idgen + 1 + index.to_i * 4) %>" data-toggle="tab" aria-expanded="false">Отметиться</a>
                                        </li>
                                        <li class="">
                                          <a href="#allcheck<%= nxtgm.id * 4 + (idgen + 1 + index.to_i * 4) %>" data-toggle="tab" aria-expanded="false">Кто
                                            будет</a>
                                        </li>
                                      </ul>
                                    </div>
                                    <div class="col-xs-9">
                                      <!-- Tab panes -->
                                      <div class="tab-content">
                                        <div class="tab-pane active" id="home<%= nxtgm.id * 4 + (idgen + 1 + index.to_i * 4) %>">
                                          <p class="lead"><%= nxtgm.name %></p>
                                          <p>Время проведения: <%= nxtgm.time.to_formatted_s(:short) %></p>
                                        </div>
                                        <div class="tab-pane" id="profile<%= nxtgm.id * 4 + (idgen + 1 + index.to_i * 4) %>">
                                          <p><%= nxtgm.location.name %></p>
                                          <p><%= nxtgm.location.address %></p>
                                        </div>
                                        <div class="tab-pane" id="messages<%= nxtgm.id * 4 + (idgen + 1 + index.to_i * 4) %>">
                                          <% if (@player.rosters.find_by tournament: nxtgm.tournament.id).nil? %>
                                            <p class="lead">Вы не заявлены за команду на этот турнир</p>
                                          <% else %>
                                            <% if (Chekin.find_by player: @player, game: nxtgm).nil? %>
                                              <%= render partial: "new_plr_checkin", locals: {teampl: @teampl, index: index, nxtgm: nxtgm, current_user: current_user} %>
                                            <% else %>
                                              <h3>Вы уже отметились на эту игру!</h3>
                                              <% if (Chekin.find_by player: @player, game: nxtgm).chekin == true %>
                                                <p>
                                                  Вы будете на игре
                                                </p>
                                              <% else %>
                                                <p>
                                                  Вы не будете на игре по причине
                                                  "<%= (Chekin.find_by player: @player, game: nxtgm).reason.reason %>"
                                                </p>
                                              <% end %>
                                              <% if nxtgm.game_score.nil? %>
                                                <%= link_to "Изменить", edit_chekin_path((Chekin.find_by player: @player, game: nxtgm)), :method => :get, :class => "btn btn-default" %>
                                              <% end %>
                                            <% end %>
                                          <% end %>
                                        </div>
                                        <div class="tab-pane" id="allcheck<%= nxtgm.id * 4 + (idgen + 1 + index.to_i * 4) %>">
                                          <% nxtgm.chekins.where(chekin: true).each do |checks| %>
                                            <p>
                                              <%= checks.player.name %>
                                            </p>
                                          <% end %>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="clearfix"></div>
                                  </div>
                                </div>
                              </div>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="panel">
                    <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <h4 class="panel-title">Прошедшие игры</h4>
                    </a>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                      <div class="panel-body">
                        <% if (@lastgames[0].ids.empty?) %>
                          <h3>Ни одной игры еще не было сыграно</h3>
                        <% else %>
                          <% @lastgames.each_with_index do |lst, index| %>
                            <% lst.each do |lstgm| %>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="x_panel">
                                  <div class="x_title">
                                    <h2><i class="fa fa-bars"></i> <%= @teampl[index].name %>
                                      <small>сыграна</small>
                                    </h2>
                                    <div class="clearfix"></div>
                                  </div>
                                  <div class="x_content">
                                    <div class="col-xs-3">
                                      <!-- required for floating -->
                                      <!-- Nav tabs -->
                                      <ul class="nav nav-tabs tabs-left">
                                        <% idgen = rand(5..100) %>
                                        <li class="active">
                                          <a href="#home<%= lstgm.id * 4 + (idgen + 2 + index.to_i * 4) %>" data-toggle="tab" aria-expanded="true">Игра</a>
                                        </li>
                                        <li class="">
                                          <a href="#profile<%= lstgm.id * 4 + (idgen + 2 + index.to_i * 4) %>" data-toggle="tab" aria-expanded="false">Место</a>
                                        </li>
                                        <li class="">
                                          <a href="#allcheck<%= lstgm.id * 4 + (idgen + 2 + index.to_i * 4) %>" data-toggle="tab" aria-expanded="false">Кто
                                            был</a>
                                        </li>
                                      </ul>
                                    </div>
                                    <div class="col-xs-9">
                                      <!-- Tab panes -->
                                      <div class="tab-content">
                                        <div class="tab-pane active" id="home<%= lstgm.id * 4 + (idgen + 2 + index.to_i * 4) %>">
                                          <p class="lead"><%= lstgm.name %></p>
                                          <p>Счет игры: <%= lstgm.game_score %></p>
                                        </div>
                                        <div class="tab-pane" id="profile<%= lstgm.id * 4 + (idgen + 2 + index.to_i * 4) %>">
                                          <p><%= lstgm.location.name %></p>
                                          <p><%= lstgm.location.address %></p>
                                        </div>
                                        <div class="tab-pane" id="allcheck<%= lstgm.id * 4 + (idgen + 2 + index.to_i * 4) %>">
                                          <% lstgm.chekins.where(chekin: true).each do |checks| %>
                                            <p>
                                              <%= checks.player.name %>
                                            </p>
                                          <% end %>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="clearfix"></div>
                                  </div>
                                </div>
                              </div>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <!-- panel for admin team-->
            <% if ((@userrols.find_by role: 3).present?) %>
              <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                <div class="accordion" id="accordion2" role="tablist" aria-multiselectable="true">
                  <!-- next games-->
                  <div class="panel">
                    <a class="panel-heading" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <h4 class="panel-title">Ближайшие игры</h4>
                    </a>
                    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                        <% if (@nextgames[0].ids.empty?) %>
                          <h3>В ближайшее время игр нет</h3>
                        <% else %>
                          <% @nextgames.each_with_index do |nxt, index| %>
                            <% nxt.each do |nxtgm| %>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="x_panel">
                                  <div class="x_title">
                                    <h2><i class="fa fa-bars"></i> <%= @teampl[index].name %>
                                      <small>ближайшая</small>
                                    </h2>
                                    <ul class="nav navbar-right panel_toolbox" style="padding-left: 50px;">
                                      <li>
                                        <%= link_to game_path(nxtgm), :method => :DELETE, :class => "close-link",
                                                    "data-toggle" => "tooltip",
                                                    "data-placement" => "top",
                                                    :title => "",
                                                    "data-original-title" => "Удалить игру" do %>
                                          <i class="fa fa-close"></i>
                                        <% end %>
                                      </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                  </div>
                                  <div class="x_content">
                                    <div class="col-xs-3">
                                      <!-- required for floating -->
                                      <!-- Nav tabs -->
                                      <ul class="nav nav-tabs tabs-left">
                                        <% idgen = rand(5..100) %>
                                        <li class="active">
                                          <a href="#home<%= nxtgm.id.to_i * 3 + (idgen + 1 + index.to_i * 3) %>" data-toggle="tab" aria-expanded="true">Игра</a>
                                        </li>
                                        <li class="">
                                          <a href="#profile<%= nxtgm.id.to_i * 3 + (idgen + 1 + index.to_i * 3) %>" data-toggle="tab" aria-expanded="false">Место</a>
                                        </li>
                                        <li class="">
                                          <a href="#marks<%= nxtgm.id.to_i * 3 + (idgen + 1 + index.to_i * 3) %>" data-toggle="tab" aria-expanded="false">Отметки</a>
                                        </li>
                                        <li class="">
                                          <a href="#allcheck<%= nxtgm.id.to_i * 3 + (idgen + 1 + index.to_i * 3) %>" data-toggle="tab" aria-expanded="false">Кто
                                            будет</a>
                                        </li>
                                      </ul>
                                    </div>
                                    <div class="col-xs-9">
                                      <!-- Tab panes -->
                                      <div class="tab-content">
                                        <div class="tab-pane active" id="home<%= nxtgm.id.to_i * 3 + (idgen + 1 + index.to_i * 3) %>">
                                          <%= render partial: "newscore", locals: {nxtgm: nxtgm, index: index, teamprsns: @teampl} %>
                                        </div>
                                        <div class="tab-pane" id="profile<%= nxtgm.id.to_i * 3 + (idgen + 1 + index.to_i * 3) %>">
                                          <p><%= nxtgm.location.name %></p>
                                          <p><%= nxtgm.location.address %></p>
                                        </div>
                                        <div class="tab-pane" id="marks<%= nxtgm.id.to_i * 3 + (idgen + 1 + index.to_i * 3) %>">
                                          <%= render partial: "checkin", locals: {nxtgm: nxtgm, index: index, teamprsns: @teampl} %>
                                        </div>
                                        <div class="tab-pane" id="allcheck<%= nxtgm.id.to_i * 3 + (idgen + 1 + index.to_i * 3) %>">
                                          <% nxtgm.chekins.where(chekin: true).each do |checks| %>
                                            <p>
                                              <%= checks.player.name %>
                                              <%= link_to "Отсутствует", failed_path(checks), :method => :patch, :class => "btn btn-default" %>
                                            </p>
                                          <% end %>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="clearfix"></div>
                                  </div>
                                </div>
                              </div>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <!--last games-->
                  <div class="panel">
                    <a class="panel-heading collapsed" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      <h4 class="panel-title">Прошедшие игры</h4>
                    </a>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" aria-expanded="false" style="height: 0px;">
                      <div class="panel-body">
                        <% if (@lastgames[0].ids.empty?) %>
                          <h3>Ни одной игры еще не было сыграно</h3>
                        <% else %>
                          <% @lastgames.each_with_index do |lst, index| %>
                            <% lst.each do |lstgm| %>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="x_panel">
                                  <div class="x_title">
                                    <h2><i class="fa fa-bars"></i> <%= @teampl[index].name %>
                                      <small>сыграна</small>
                                    </h2>
                                    <div class="clearfix"></div>
                                  </div>
                                  <div class="x_content">
                                    <div class="col-xs-3">
                                      <!-- required for floating -->
                                      <!-- Nav tabs -->
                                      <ul class="nav nav-tabs tabs-left">
                                        <% idgen = rand(5..100) %>
                                        <li class="active">
                                          <a href="#home<%= lstgm.id * 3 + (idgen + 2 + index.to_i * 3) %>" data-toggle="tab" aria-expanded="true">Игра</a>
                                        </li>
                                        <li class="">
                                          <a href="#profile<%= lstgm.id * 3 + (idgen + 2 + index.to_i * 3) %>" data-toggle="tab" aria-expanded="false">Место</a>
                                        </li>
                                        <li class="">
                                          <a href="#allcheck<%= lstgm.id * 3 + (idgen + 2 + index.to_i * 3) %>" data-toggle="tab" aria-expanded="false">Кто
                                            был</a>
                                        </li>
                                      </ul>
                                    </div>
                                    <div class="col-xs-9">
                                      <!-- Tab panes -->
                                      <div class="tab-content">
                                        <div class="tab-pane active" id="home<%= lstgm.id * 3 + (idgen + 2 + index.to_i * 3) %>">
                                          <p class="lead"><%= lstgm.name %></p>
                                          <p>Счет игры: <%= lstgm.game_score %></p>
                                        </div>
                                        <div class="tab-pane" id="profile<%= lstgm.id * 3 + (idgen + 2 + index.to_i * 3) %>">
                                          <p><%= lstgm.location.name %></p>
                                          <p><%= lstgm.location.address %></p>
                                        </div>
                                        <div class="tab-pane" id="allcheck<%= lstgm.id * 3 + (idgen + 2 + index.to_i * 3) %>">
                                          <% lstgm.chekins.where(chekin: true).each do |checks| %>
                                            <p>
                                              <%= checks.player.name %>
                                              <%= link_to "Отсутствовал", failed_path(checks), :method => :patch, :class => "btn btn-default" %>
                                            </p>
                                          <% end %>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="clearfix"></div>
                                  </div>
                                </div>
                              </div>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <!--new games-->
                  <div class="panel">
                    <a class="panel-heading collapsed" role="tab" id="headingFive" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      <h4 class="panel-title">Добавить игру</h4>
                    </a>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" aria-expanded="false" style="height: 0px;">
                      <div class="panel-body">
                        <%= render partial: "newgame", locals: {userteam: @teamusrng} %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <!-- history for admins-->
            <% if can? :edit, Team %>
              <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
                <%= render partial: "history", locals: {history: @history} %>
              </div>
            <% end %>
            <!-- panel for owner-->
            <% if ((@userrols.find_by role: 2).present?) %>
              <% if ((@userrols.find_by role: 2).present?) and ((@userrols.find_by role: 4) == nil) %>
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content3" aria-labelledby="home-tab">
              <% else %>
                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
              <% end %>
              <div class="accordion" id="accordion3" role="tablist" aria-multiselectable="true">
                <!-- next games-->
                <div class="panel">
                  <a class="panel-heading" role="tab" id="headingSix" data-toggle="collapse" data-parent="#accordion3" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <h4 class="panel-title">Ближайшие игры</h4>
                  </a>
                  <div id="collapseSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                      <% if (@nextgames_adm[0].ids.empty?) %>
                        <h3>В ближайшее время игр нет</h3>
                      <% else %>
                        <% @nextgames_adm.each_with_index do |nxt, index| %>
                          <% nxt.each do |nxtgm| %>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="x_panel">
                                <div class="x_title">
                                  <h2><i class="fa fa-bars"></i> <%= @teamusr[index].name %>
                                    <small>ближайшая</small>
                                  </h2>
                                  <ul class="nav navbar-right panel_toolbox" style="padding-left: 50px;">
                                    <li>
                                      <%= link_to game_path(nxtgm), :method => :DELETE, :class => "close-link",
                                                  "data-toggle" => "tooltip",
                                                  "data-placement" => "top",
                                                  :title => "",
                                                  "data-original-title" => "Удалить игру" do %>
                                        <i class="fa fa-close"></i>
                                      <% end %>
                                    </li>
                                  </ul>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                  <div class="col-xs-3">
                                    <!-- required for floating -->
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs tabs-left">
                                      <% idgen = rand(5..100) %>
                                      <li class="active">
                                        <a href="#home<%= nxtgm.id.to_i * 2 + (idgen + 1 + index.to_i * 2) %>" data-toggle="tab" aria-expanded="true">Игра</a>
                                      </li>
                                      <li class="">
                                        <a href="#profile<%= nxtgm.id.to_i * 2 + (idgen + 1 + index.to_i * 2) %>" data-toggle="tab" aria-expanded="false">Место</a>
                                      </li>
                                      <li class="">
                                        <a href="#marks<%= nxtgm.id.to_i * 2 + (idgen + 1 + index.to_i * 2) %>" data-toggle="tab" aria-expanded="false">Отметки</a>
                                      </li>
                                      <li class="">
                                        <a href="#allcheck<%= nxtgm.id.to_i * 2 + (idgen + 1 + index.to_i * 2) %>" data-toggle="tab" aria-expanded="false">Кто
                                          будет</a>
                                      </li>
                                    </ul>
                                  </div>
                                  <div class="col-xs-9">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                      <div class="tab-pane active" id="home<%= nxtgm.id.to_i * 2 + (idgen + 1 + index.to_i * 2) %>">
                                        <%= render partial: "newscore", locals: {nxtgm: nxtgm, index: index, teamprsns: @teamusr} %>
                                      </div>
                                      <div class="tab-pane" id="profile<%= nxtgm.id.to_i * 2 + (idgen + 1 + index.to_i * 2) %>">
                                        <p><%= nxtgm.location.name %></p>
                                        <p><%= nxtgm.location.address %></p>
                                      </div>
                                      <div class="tab-pane" id="marks<%= nxtgm.id.to_i * 2 + (idgen + 1 + index.to_i * 2) %>">
                                        <%= render partial: "checkin", locals: {nxtgm: nxtgm, index: index, teamprsns: @teamusr} %>
                                      </div>
                                      <div class="tab-pane" id="allcheck<%= nxtgm.id.to_i * 2 + (idgen + 1 + index.to_i * 2) %>">
                                        <% nxtgm.chekins.where(chekin: true).each do |checks| %>
                                          <p>
                                            <%= checks.player.name %>
                                            <%= link_to "Отсутствует", failed_path(checks), :method => :patch, :class => "btn btn-default" %>
                                          </p>
                                        <% end %>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                              </div>
                            </div>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <!--last games-->
                <div class="panel">
                  <a class="panel-heading collapsed" role="tab" id="headingSeven" data-toggle="collapse" data-parent="#accordion3" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    <h4 class="panel-title">Прошедшие игры</h4>
                  </a>
                  <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                      <% if (@lastgames_adm[0].ids.empty?) %>
                        <h3>Ни одной игры еще не было сыграно</h3>
                      <% else %>
                        <% @lastgames_adm.each_with_index do |lst, index| %>
                          <% lst.each do |lstgm| %>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="x_panel">
                                <div class="x_title">
                                  <h2><i class="fa fa-bars"></i> <%= @teamusr[index].name %>
                                    <small>сыграна</small>
                                  </h2>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                  <div class="col-xs-3">
                                    <!-- required for floating -->
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs tabs-left">
                                      <% idgen = rand(5..100) %>
                                      <li class="active">
                                        <a href="#home<%= lstgm.id * 2 + (idgen + 2 + index.to_i * 2) %>" data-toggle="tab" aria-expanded="true">Игра</a>
                                      </li>
                                      <li class="">
                                        <a href="#profile<%= lstgm.id * 2 + (idgen + 2 + index.to_i * 2) %>" data-toggle="tab" aria-expanded="false">Место</a>
                                      </li>
                                      <li class="">
                                        <a href="#allcheck<%= lstgm.id * 2 + (idgen + 2 + index.to_i * 2) %>" data-toggle="tab" aria-expanded="false">Кто
                                          был</a>
                                      </li>
                                    </ul>
                                  </div>
                                  <div class="col-xs-9">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                      <div class="tab-pane active" id="home<%= lstgm.id * 2 + (idgen + 2 + index.to_i * 2) %>">
                                        <p class="lead"><%= lstgm.name %></p>
                                        <p>Счет игры: <%= lstgm.game_score %></p>
                                      </div>
                                      <div class="tab-pane" id="profile<%= lstgm.id * 2 + (idgen + 2 + index.to_i * 2) %>">
                                        <p><%= lstgm.location.name %></p>
                                        <p><%= lstgm.location.address %></p>
                                      </div>
                                      <div class="tab-pane" id="allcheck<%= lstgm.id * 2 + (idgen + 2 + index.to_i * 2) %>">
                                        <% lstgm.chekins.where(chekin: true).each do |checks| %>
                                          <p>
                                            <%= checks.player.name %>
                                            <%= link_to "Отсутствовал", failed_path(checks), :method => :patch, :class => "btn btn-default" %>
                                          </p>
                                        <% end %>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                              </div>
                            </div>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <!--new games-->
                <div class="panel">
                  <a class="panel-heading collapsed" role="tab" id="headingEight" data-toggle="collapse" data-parent="#accordion3" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    <h4 class="panel-title">Добавить игру</h4>
                  </a>
                  <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                      <%= render partial: "newgame", locals: {userteam: @teamusrng_adm} %>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
        function check(i) {
            if (i == 1) {
                document.getElementById('visblock').style.display = 'block';
            } else if (i == 2) {
                document.getElementById('visblock').style.display = 'none';
            }
        }
    </script>
<% end %>