<div class="clearfix"></div>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2><a onclick="javascript:history.back(); return false;" data-toggle="tooltip" , data-placement="top" ,
             title="" , data-original-title="Назад"><i class="fa fa-arrow-left"></i></a>
        Профиль пользователя
      </h2>
      <ul class="nav navbar-right panel_toolbox" style="padding-left: 50px;">
        <li>
          <%= link_to edit_user_registration_path, :method => :get,
                      :class => "close-link",
                      "data-toggle" => "tooltip",
                      "data-placement" => "top",
                      :title => "",
                      "data-original-title" => "Редактировать профиль" do %>
            <i class="fa fa-gears"></i>
          <% end %>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <p>Вы не игрок. Это ошибка? Тогда
        нужно <strong><%= link_to 'заполнить игровой профиль', new_player_path(current_user) %></strong></p>
      <div class="clearfix"></div>
      <div class="" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Информация</a>
          </li>
          <li role="presentation" class="">
            <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Команды</a>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
            <blockquote>
              Email: <%= current_user.email %> </br>
              Дата регистрации: <%= current_user.created_at.to_s.split(' ')[0] %>
            </blockquote>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
            <% if @teamsusr.empty? %>
              <blockquote>
                Не найдено ни одной команды
              </blockquote>
            <% else %>
              <ul class="zebra">
                <% @teamsusr.each do |team| %>
                  <li>
                    <h2><%= team.name %>
                      <small>
                        (<%= notplayer_team_role(team, current_user) %>)
                      </small>
                    </h2>
                    <%= link_to "Подробнее", team_path(team), :method => :get, :class => "btn btn-secondary" %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>