
<nav class="navbar navbar-dark fixed-top bg-info flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" title="На главную" href="/welcome/index">
    <%= image_tag "/images/soccer-ball_39433.ico",
                  :class => "style_image",
                  :alt => "",
                  :width => "25",
                  :height => "25",
                  :style => "padding-bottom: 5px;height: 25px;width: 20px;"  %>
    EasySquad</a>
  <ul class="navbar-nav px-3 hr">
    <li class="nav-item text-nowrap">
      <%= link_to 'Редактировать профиль', :edit_user_registration, :method => :get, :class=>"nav-link" %>
    </li>
    <li class="nav-item text-nowrap">
      <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, :class=>"nav-link" %>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">


    <nav class="col-md-1 d-none d-md-block bg-light sidebar" style="padding-top: 48px;">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <br>

          <big><li class="nav-item">
            <%= link_to 'Здравствуйте, '+current_user.email, player_path(current_user.id), :method => :get, :class=>"nav-link active" %>
          </li> </big>

          <br>
          <!-- Федерации -->
          <li class="nav-item dropright">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "/images/campus_school_building_front_icon-icons.com_75490.svg",
                            :class => "style_image",
                            :alt => "",
                            :width => "25",
                            :height => "25",
                            :style => "padding-bottom: 5px;height: 25px;width: 20px;"  %>
              Федерации <span class="sr-only">(current)</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <% if @federations.empty? %>
                <a class="dropdown-item" href="#">В базе отсутствуют федерации</a>
              <% else%>
                <% @federations.each do |federation|%>
                  <%= link_to federation.name, federation_path(federation), :class => "dropdown-item" %>
                <% end %>
              <% end %>
            </div>
          </li>

          <!-- Команды -->
          <li class="nav-item dropright">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "/images/users-team_icon-icons.com_57998.svg",
                            :class => "style_image",
                            :alt => "",
                            :width => "25",
                            :height => "25",
                            :style => "padding-bottom: 5px;height: 25px;width: 20px;"  %>
              Команды
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

              <% if @teams.empty? %>
                <a class="dropdown-item" href="#">В базе отсутствуют команды</a>
              <% else%>
                <% @teams.each do |team|%>
                  <%= link_to team.name, team_path(team), :class => "dropdown-item" %>
                <% end %>
              <% end %>
            </div>
          </li>

          <!-- Места -->
          <li class="nav-item dropright">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "/images/stadiumsport_estadio_4328.ico",
                            :class => "style_image",
                            :alt => "",
                            :width => "25",
                            :height => "25",
                            :style => "padding-bottom: 5px;height: 25px;width: 20px;"  %>
              Места
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <% if @locs.empty? %>
                <a class="dropdown-item" href="#">В базе отсутствуют места проведенияи</a>
              <% else%>
                <% @locs.each do |locs|%>
                  <%= link_to locs.name, location_path(locs), :class => "dropdown-item" %>
                <% end %>
              <% end %>
            </div>
          </li>

          <!-- Турниры -->
          <li class="nav-item dropright">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "/images/cup-trophy-silhouette_icon-icons.com_73052.svg",
                            :class => "style_image",
                            :alt => "",
                            :width => "25",
                            :height => "25",
                            :style => "padding-bottom: 5px;height: 25px;width: 20px;"  %>
              Турниры
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <% if @tourns.empty? %>
                <a class="dropdown-item" href="#">В базе отсутствуют турниры</a>
              <% else%>
                <% @tourns.each do |tourn|%>
                  <%= link_to tourn.name, tournament_path(tourn), :class => "dropdown-item" %>
                <% end %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
      <footer style="position: absolute;bottom: 2%;height:auto;width: 100%;text-align: center;">©2019</footer>
    </nav>

    <main role="main" class="col-md-11 ml-sm-auto col-lg-11 px-4">

      <h2>Собери свою команду!</h2>
      <span>Здравствуйте, <%= @user %></span>


      <p>Вы не игрок. Это ошибка? Тогда нужно <%= link_to 'заполнить игровой профиль', new_player_path(current_user) %></p>

      <h3>Ваши команды:</h3>

      <%if @teamsusr.nil?%>
        <p>Вы не привязаны ни к одной команде</p>
      <%else%>
        <% @teamsusr.each do |team|%>
          <table>
            <td><%= team.name%></td>
            <td><%= button_to 'показать', team_path(team), :method => :get %></td>
          </table>
        <% end %>
      <%end%>



      <h3>Ваша роль: </h3>
      <% @userrols.each do |role| %>
        <%= role.role%>
      <% end %>

    </main>

  </div>
</div>







