<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>
        <a onclick="javascript:history.back(); return false;" data-toggle="tooltip" , data-placement="top" ,
           title="" , data-original-title="Назад"><i class="fa fa-arrow-left"></i></a>
        <%= @federation.name %>
      </h2>
      <% if can? :edit, @federation %>
        <ul class="nav navbar-right panel_toolbox" style="padding-left: 50px;">
          <li>
            <%= link_to edit_admin_federation_path, :method => :get,
                        :class => "close-link",
                        "data-toggle" => "tooltip",
                        "data-placement" => "top",
                        :title => "",
                        "data-original-title" => "Редактировать федерацию" do %>
              <i class="fa fa-gears"></i>
            <% end %>
          </li>
        </ul>
      <% end %>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="" role="tabpanel" data-example-id="togglable-tabs">
        <div class="card">
          <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist" style="display: flex">
            <li role="presentation" class="active">
              <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Описание</a>
            </li>
            <li role="presentation" class="">
              <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Турниры</a>
            </li>
            <li role="presentation" class="">
              <a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Контакты</a>
            </li>
          </ul>
        </div>
        <div id="myTabContent" class="tab-content">
          <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
            <blockquote>
              <p><%= @federation.description %></p>
            </blockquote>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
            <% if @federation.tournaments.empty? %>
              <blockquote>
                Этой федерацией не проводятся турниры
              </blockquote>
            <% else %>
              <ul class="zebra">
                <% @federation.tournaments.each do |tourn| %>
                  <li>
                    <h2><%= tourn.name %>
                      <small>
                        (<%= tourn.season %>)
                      </small>
                    </h2>
                    <%= link_to "Подробнее", tournament_path(tourn), :method => :get, :class => "btn btn-secondary" %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
            <div class="col-md-6 col-sm-6 col-xs-12 profile_details">
              <div class="well profile_view">
                <div class="col-sm-12">
                  <h4 class="brief"><i><%= @federation.name %></i></h4>
                  <div class="left col-xs-12">
                    <ul class="list-unstyled">
                      <li><big><i class="fa fa-building"></i> Сайт: <%= @federation.url %></big></li>
                      <li><big><i class="fa fa-phone"></i> Телефон: <%= @federation.contacts %></big></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-12 bottom text-right">
                  <div class="col-xs-12 col-sm-6 emphasis" style="float:right;">
                    <button type="button" class="btn btn-primary btn-xs" onclick="parent.location='http://<%= @federation.url %>'">
                      <i class="fa fa-mail-forward"> </i> Открыть сайт
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>