<h1>EasySquad</h1>
<h2>Игра: <%= @game.name %></h2>

<h3> Команды участницы:</h3>
<p> <%= @team1.name %> - <%= @team2.name %></p>
<p> Дата проведения: <%= @game.time %></p>
<p> Турнир: <%= @tourn.name %></p>

<h3>Результат игры:</h3>
<% if @game.game_score.nil?%>
  <p>Игра еще не сыграна</p>
<% else%>
  <%= @game.game_score %>
<% end%>


<% if @game.game_score.nil?%>
  <h3>На игре будут:</h3>
<% else%>
  <h3>На игре были:</h3>
<% end%>

<% if @players.empty? %>
  <p>Никто еще не отметился на игру</p>
<% else%>
  <table>
    <% @players.each do |player|%>
      <tr>
        <td><%= player.name%> </td>
        <td><%= button_to 'Профиль', player_path(player), :method => :get %></td>
      </tr>
    <% end %>
  </table>
<% end %>









<% if (@app!=nil) && (@game.game_score==nil) %>
  <% if (@game.tournament==@app.tournament)%>
    <%= button_to 'Отметиться на игре', new_chekin_path(@game), :method => :get %>
  <% end%>
<% end%>
<p> <%= button_to 'Редактировать игру', edit_game_path, :method => :get %></p>
<p> <%= button_to 'Удалить игру', game_path, :method => :delete %></p>

<%= button_to "Назад", :welcome_index, :method => :get %>