<h1>EasySquad</h1>
<h2>Собери свою команду!</h2>

<h2>Введите информацию о федерации</h2>

<%= form_with scope: :federation, url: admin_federations_path, local: true do |form| %>

  <p>
    <%= form.label :Название %><br>
    <%= form.text_field :name %>
    <%#= form.hidden_field :id, value: params[:format]%>
  </p>

  <p>
    <%= form.label :Электронный_адрес %><br>
    <%= form.url_field :url %>
  </p>

  <p>
    <%= form.label :Контакты %><br>
    <%= form.telephone_field :contacts %>
  </p>

  <p>
    <%= form.submit("Создать") %>
  </p>


<% end %>

<%= button_to "Назад", :back, :method => :get %>