<%= form_with scope: :player, url: players_path, html: {:id => "demo-form2", "data-parsley-validate" => "", :class => "form-horizontal form-label-left", :novalidate => ""}, local: true do |form| %>
  <div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="myteam">
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <h2> Заполните информацию игрового профиля</h2>
    </div>
  </div>
  <%= form.hidden_field :id, value: params[:format] %>
  <%= render partial: "player", locals: {form: form} %>
  <div class="item form-group checkboxes" id="checkboxes">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="myteam">Выберите команды:
    </label>
    <div class="col-md-5 col-sm-5 col-xs-12">
      <%= form.collection_check_boxes(:team_ids, @user.teams, :id, :name, {}, {:class => "form-control checkbox inline", :id => "teams", :required => ""}) %>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
    <%= form.submit "Создать", :class => "btn btn-success", :onclick => "checkDuplicate()" %>
  </div>
<% end %>

<script>
    function checkDuplicate() {
        setTimeout(function () {
            var seen = {};
            $('div.checkboxes > div').each(function () {
                var txt = $(this).text();
                if (seen[txt])
                    $(this).remove();
                else
                    seen[txt] = true;
            });
        }, 30)
    }
</script>