<h1>EasySquad</h1>
<h2>Собери свою команду!</h2>

<h2> Заполните информацию об игроке</h2>

<%= form_with scope: :player, url: players_path, local: true do |form| %>

  <p>
    <%= form.label :Имя %><br>
    <%= form.text_field :name %>
    <%= form.hidden_field :id, value: params[:format]%>
  </p>

  <p>
    <%= form.label :Дата_рождения %><br>
    <%= form.date_select :birthday, :start_year => 1950, :end_year => Date.today.year %>
  </p>

  <p>
    <%= form.label :Игровой_номер %><br>
    <%= form.number_field :gamenumber %>
  </p>

  <p>
    <%= form.submit %>
  </p>


<% end %>

<%= button_to "Назад", :back, :method => :get %>