<div class="page-title">
  <div class="clearfix"></div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>
          <a onclick="javascript:history.back(); return false;" data-toggle="tooltip" , data-placement="top" ,
             title="" , data-original-title="Назад"><i class="fa fa-arrow-left"></i></a>
          Игровой профиль
        </h2>
        <% if (current_user.id == @player.id) %>
          <ul class="nav navbar-right panel_toolbox" style="padding-left: 50px;">
            <li>
              <%= link_to edit_user_registration_path, :method => :get,
                          :class => "close-link",
                          "data-toggle" => "tooltip",
                          "data-placement" => "top",
                          :title => "",
                          "data-original-title" => "Изменить пароль/удалить профиль" do %>
                <i class="fa fa-cogs"></i>
              <% end %>
            </li>
            <li>
              <%= link_to edit_player_path, :method => :get,
                          :class => "close-link",
                          "data-toggle" => "tooltip",
                          "data-placement" => "top",
                          :title => "",
                          "data-original-title" => "Редактировать игровой профиль" do %>
                <i class="fa fa-wrench"></i>
              <% end %>
            </li>
          </ul>
        <% end %>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
          <div class="card">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist" style="display: flex">
              <li role="presentation" class="active">
                <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Информация</a>
              </li>
              <li role="presentation" class="">
                <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Команды</a>
              </li>
              <li role="presentation" class="">
                <a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Заявки</a>
              </li>
            </ul>
          </div>
          <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
              <blockquote>
                Имя: <%= @player.name %> </br>
                Дата рождения: <%= @player.birthday %> </br>
                Игровой номер: <%= @player.gamenumber %> </br>
              </blockquote>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
              <% if @teams.empty? %>
                <h2>Вы не играете ни за одну команду</h2>
              <% else %>
                <ul class="zebra">
                  <% @teams.each do |team| %>
                    <li>
                      <h2><%= team.name %>
                        <small>
                          (
                          <% role_in_team(team, @player, current_user).each do |role| %>
                            <%= role.role.role %>
                          <% end %>)
                        </small>
                      </h2>
                      <%= link_to "Подробнее", team_path(team), :method => :get, :class => "btn btn-secondary" %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
              <blockquote>
                <% if @applications.empty? %>
                  Заявки отсутсвутют
                <% else %>
                  <% @applications.each do |app| %>
                    <h2>
                      <ul>
                        <li>№<%= app.id %></li>
                        <ul>
                          <li>Турнир: <%= app.tournament.name %> </li>
                          <li>Команда: <%= app.team.name %> </li>
                        </ul>
                      </ul>
                    </h2>
                  <% end %>
                <% end %>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>